EXPO_PUBLIC_SUPABASE_URL=https://vmsmiobcneudojputsnj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZtc21pb2JjbmV1ZG9qcHV0c25qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjczMzMsImV4cCI6MjA5NjcwMzMzM30.PG1XKBZgDAjOIoORERq_DOP2_u-J4CA-CVvIMd1V1XU
